<script>
	$(document).ready(function(){
    $("#menu li").click(function() {
        $("#menu li").removeClass('active');
        $(this).addClass("active");
        $(".menu_content").hide();
        var selected_tab = $(this).find("a").attr("href");
        $(selected_tab).fadeIn();
        return false;
    });
});

$('#Cources').click(function() {
  $('#menu a[href="#Cources"]').tab('show');
});
</script>
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

    {% block content %}
		<div class="navbar-collapse navbar-right collapse">
			User:{{request.user.username}}
            {% if user.is_authenticated %}
            <button type="button" class="btn btn-default"><a href="{% url 'logout'%}">Logout</a></button>
            {% else %}
            	<button type="button" class="btn btn-default"><a href="{% url 'login'%}">Login</a></button>
                <button type="button" class="btn btn-default"><a href="{% url 'register'%}">Register</a></button>
            {% endif %}
		</div>
<!--       <script type = "text/javascript" language = "javascript">
         $(document).ready(function() {
            $("#driver").click(function(event){

                $('#hello').html($('#stage').load('../api/students'));
            });
         });
      </script> -->
	<script>

	</script>
<div class="tab-content">
	  <div id="students" class="tab-pane fade in active">
          <div>
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th style="width:30%"> User Name</th>
                          <th> Enrolled in Courses </th>
                      </tr>
                  </thead>
               	 <tbody>
				 	{% for student_name, cources in student_dict.items %}
                    	<tr>
                            <td>{{ student_name }}</td>
                       	    <td>
                                {% if cources %}
                                    {% for course in cources %}
                                        {{course}}<br/>
                                    {% endfor %}
                                {% else %}
                                	None
                                {% endif %}
                            </td>
						</tr>
                    {% endfor %}


                 </tbody>
              </table>
          </div>
          	{{student_courses}}<br/>
          {{student_dict}}<br/>
	  </div>
	  <div id="cources" class="tab-pane fade">
          <p>
              hello
          </p>

	   </div>
</div>

	  {% endblock %}
