<style>
.tab-content{
    overflow-y:scroll;
    position:relative;
    height: 500px;
}
</style>
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
    {% block content %}
<!--       <script type = "text/javascript" language = "javascript">
         $(document).ready(function() {
            $("#driver").click(function(event){

                $('#hello').html($('#stage').load('../api/students'));
            });
         });
      </script> -->
<script type="text/javascript">
    function delete_course(course){
     console.log(course);
        $.ajax(
    	{
            type:"GET",
            url: "/delete_course/",
            data: {
                    course: course,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( response )
            {
                if (response['status'] == 'success') {
                console.log(response);
                }
                else{
                    console.log(response);
                }
                location.reload();
            }
    	 })
    }
    function delete_student(student){

     console.log(student);
        $.ajax(
    	{
            type:"GET",
            url: "/delete_student/",
            data: {
                    student: student,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( response )
            {
                if (response['status'] == 'success') {
                console.log(response);
                }
                else{
                    console.log(response);
                }
                location.reload();
            }
        })
    }
    function enroll_student(course){
        console.log(course);
         $.ajax(
    	{
            type:"GET",
            url: "/student_enrolls/",
            data: {
                    course: course,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( response )
            {
                if (response['status'] == 'success') {
                console.log(response);
                }
                else{
                    console.log(response);
                }
                location.reload();
            }
    	 })
    }
</script>
<div class="tab-content">
     <div id="cources" class="tab-pane fade in active">
          <div>
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th style="width:20%"> Course Name</th>
                          {% if request.user.is_staff %}
                          <th style="width:60%"> Stdents Enrolled in Course </th>
                          <th></th>
                          <th></th>
                          {% endif %}
                      </tr>
                  </thead>
               	 <tbody>
				 	{% for course, student_name in course_dict.items %}
                    	<tr>
                            <td>{{ course }}</td>
                            {% if request.user.is_staff %}
                                <td>
                                    {% if student_name %}
                                        {% for student in student_name %}
                                            {{student}}&emsp;
                                        {% endfor %}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                            	<td>
                                    {% if student_name|length == 5 %}
                                        <button type="button" class="btn btn-default" disabled>Course Full</button>
                                    {% else %}
                                        <button type="button" class="btn btn-default">Enroll Students</button>
                                    {% endif %}
                            	</td>
                            	<td>
                            		<button type="button" class="btn btn-default" id="delete_button" onclick="delete_course('{{ course }}')">Delete Course</button>
                            	</td>

                            {% else %}
                            	<td></td>
                            	<td>
                                    {% if request.user.username in student_name %}
                                        <button type="button" class="btn btn-default">Leave Course</button>
                                    {% elif student_name|length == 5 %}
                                    	<button type="button" class="btn btn-default" disabled>Course Full</button>
                                    {% else %}
                                    	<button type="button" class="btn btn-default" onclick="enroll_student('{{ course }}')">Enroll</button>
                                    {% endif %}
                            	</td>
                            	<td></td>
                            {% endif %}
						</tr>
                    {% endfor %}
                 </tbody>
              </table>
          </div>

	   </div>
    {% if request.user.is_staff %}
	  <div id="students" class="tab-pane fade">
          <div>
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th style="width:30%"> User Name</th>
                          <th> Enrolled in Courses </th>
                          <th></th>
                      </tr>
                  </thead>
               	 <tbody>
				 	{% for student_name, cources in student_dict.items %}
                    	<tr>
                            <td>{{ student_name }}</td>
                       	    <td>
                                {% if cources %}
                                    {% for course in cources %}
                                        {{course}}&emsp;
                                    {% endfor %}
                                {% else %}
                                	None
                                {% endif %}
                            </td>
                            <td>
                            	<button type="button" class="btn btn-default" id="delete_button" onclick="delete_student('{{ student_name }}')">Delete Course</button>
                            </td>
						</tr>
                    {% endfor %}


                 </tbody>
              </table>
          </div>
	  </div>
{% endif %}

</div>
	  {% endblock %}
